 <div class="content-section-a" ng-controller="Proofile as f">
    <div class="container"  style="margin-right:0%; width:83%;height:100%;overflow:scroll;" >
 

<table style="width:100%">
<tr>
    <h1>Your Profile</h1>
    <td ><img src="{{f.person.user.photoURL}}" class="img-circle" style="width:150px;border-radius:50%" alt=""></td>
        
    <td style="width:70%;margin-right:60%">
    <h3>{{f.person.user.displayName}}</h3>
    <h4>Email: {{f.person.user.email}}</h4>

    </td>
</tr>
</table>
<div ng-repeat="ad in f.sadds">
<!div  style="margin-right:10%;margin-left:0%;margin-top:1%;width:70%;" class="list-group-item list-group-item-success">
{{aj.category}}
<a ui-sref="homepage.viewitem" ng-click="data.showcontent(ad)"> <img  class="item" src="{{ad.imageUrl}}"  style="border: 2px solid black;"></a>
</div>


</div>




</div>
</div>











</div>
</div>